html, button, input, select, textarea{
 color: #744;
}

html {

 font-size: 1.2em; 
       line-height: 1.4; 
       background-color: rgb(10,40,52);
}

#wrapper{
      max-width: 900px;
      min-width: 320px;
      margin-left: 500px;
      margin-right: 400px;
}

#divimg {
     display : inline-block;
}

#divimg img {
     width:300px; 
     background-color: rgba(0,0,0.2, 0.2);
     border-width: 1px;
     border-color: #ccc;
     border-radius: 3px;
     
}

#coordonnees {
    display : inline-block;
    text-align: center;
    width: 950px; 
}
